<div class="w-1/2 mt-5 border rounded divide-y">
  <div class="p-2 flex items-center">
    <button class="mr-3" z-button zType="outline" [routerLink]="['']"><z-icon zType="arrow-left" /></button>
    <form>
      <input class="grow" autofocus z-input zBorderless [formControl]="searchTerm" (keydown.enter)="$event.preventDefault();" placeholder="Search..." /> <!-- TODO popover searchbar -->
    </form>
  </div>
    @for (tweet of filteredTweetList; track tweet) {
      <div class="py-2.5 px-[15px]">
        <app-tweet [tweet]="tweet"></app-tweet>
      </div>
    }
  <!-- do replies here -->
</div>
