:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  width: 50%;
  align-items: center;
}

.title {
  flex-grow: 1;
}

.feed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-border {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed app-tweet {
  width: 100%;
  padding: 10px 15px;
  overflow: hidden;
}

.nav-buttons {
  justify-content: end;
}
